body {
    background-image: url("https://images4.alphacoders.com/133/1338472.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
}

header{
    padding-right: 2em;
}

.home {
    border-radius: 25px;
    background-color: rgba(18, 18, 16, 0.073);
    display: flex;
    justify-content: center;
    width: 100px;
    height: 80px;
    align-items: center;
}
.comsumtion {
    border-radius: 25px;
    background-color: rgba(18, 18, 16, 0.073);
    display: flex;
    justify-content: center;
    width: 250px;
    height: 80px;
    align-items: center;
}

.about {
    border-radius: 25px;
    background-color: rgba(18, 18, 16, 0.073);
    display: flex;
    justify-content: center;
    width: 100px;
    height: 80px;
    align-items: center;
}

.home:hover{
    background-color: rgba(26, 161, 116, 0.516);
}

.comsumtion:hover {
    background-color: rgba(26, 161, 116, 0.516);
}

.about:hover {
    background-color: rgba(26, 161, 116, 0.516);
}


nav {
    flex: 0 50px;
    font-size: 30px;
    font-family: "Sofia", sans-serif;
    color: rgb(243, 245, 243);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
}

.introduction h1{
    font-family: "Audiowide", sans-serif;
    font-size: 40px;
}

.introduction {
    color: rgb(243, 245, 243);
    font-family: "Audiowide", sans-serif;
    font-size: 30px;
    padding-top: 2em;
    height: 900px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
    font-size: 15px;
    flex: 0 50px;
    background: hsl(180, 5%, 20%);
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;

    bottom: 0;
    width: 100%;
}

@media (max-width:800px) {

    nav {
        font-size: 26px;
    }
}