html {
    min-height: 100vh;
}
body {
        background-image: url("https://images4.alphacoders.com/133/1338472.png");
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
}

header {
    padding-right: 2em;
}

.home {
    border-radius: 25px;
    background-color: rgba(18, 18, 16, 0.073);
    display: flex;
    justify-content: center;
    width: 100px;
    height: 80px;
    align-items: center;
}

.comsumtion {
    border-radius: 25px;
    background-color: rgba(18, 18, 16, 0.073);
    display: flex;
    justify-content: center;
    width: 250px;
    height: 80px;
    align-items: center;
}

.about {
    border-radius: 25px;
    background-color: rgba(18, 18, 16, 0.073);
    display: flex;
    justify-content: center;
    width: 100px;
    height: 80px;
    align-items: center;
}
.home:hover {
    background-color: rgba(26, 161, 116, 0.516);
}

.comsumtion:hover {
    background-color: rgba(26, 161, 116, 0.516);
}

.about:hover {
    background-color: rgba(26, 161, 116, 0.516);
}

nav{
    flex: 0 50px;
    font-size: 30px;
    padding: 0 0em;
    font-family: "Sofia", sans-serif;
    color: rgb(243, 245, 243);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: white;
    text-decoration: none;
}

 .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

.title {
    color: rgb(243, 245, 243);
    font-family: "Audiowide", sans-serif;
    font-size: 40px;
    padding-top: 2em;
    
}

.quote {
    color: rgb(243, 245, 243);
    font-family: "Audiowide", sans-serif;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    
}

.square {
    width: 100%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.squareForLogin{
    
    width: 100%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login h2{
    font-size: 15px;
}
.login {
    font-family: "Audiowide", sans-serif;
    
    color: white;
    justify-content: center;
    align-items: center;
}

.userID {
    font-family: "Audiowide", sans-serif;
    font-size: 15px;
    color: white;
}

.password {
    font-family: "Audiowide", sans-serif;
    font-size: 15px;
    color: white;
}


footer{
    font-size: 15px;
    flex:0 50px;
    background: hsl(180, 5%, 20%);
    color: white;

    position: fixed;
    bottom: 0;
    width: 100%;
  
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
}